@import './utils/variables';
@import './utils/reset';
@import './utils/base';
@import './utils/mixins';
@import './components/hero';
@import './components/modal';
@import './components/section1';
@import './components/section2';
@import './components/section3';
@import './components/section4';
@import './components/btn-menu';
@import './components/portfolio';
@import './components/overlay';

/* ХЕДЕР */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: var(--color-dark);

  padding: 24px 0 25px;
  margin-right: 93px;
}

.logo-web {
  color: var(--color-blue);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list > li:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  position: relative;

  color: var(--color-dark);
  padding: 32px 0;

  transition: color var(--animation);
}

/* подчёркивание ссылки текущей страницы */
.header-link.current-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-blue);
}

.header-contact {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;
  color: var(--color-gray);

  transition: color var(--animation);
}

.header-phone {
  fill: currentColor;
  margin-right: 10px;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--color-blue);
}

/* ФУТЕР */

.footer-info {
  background-color: var(--color-graphite);
  padding: 60px 0;
}

.footer-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-size {
  margin-right: 70px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: var(--color-blue);
}

.logo-studio {
  color: var(--color-white);
}

.info-contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.info-address {
  color: var(--color-white);
  margin-top: 20px;

  transition: color var(--animation);
}

.info-link {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;

  transition: color var(--animation);
}

.info-address:hover,
.info-address:focus,
.info-link:hover,
.info-link:focus {
  color: var(--color-blue);
}

.footer-size-link {
  margin-right: 93px;
}

.footer-title {
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
}

.footer-list > .footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-icons);
  fill: var(--color-white);

  transition: background-color var(--animation);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--color-blue);
}

/* ФОРМА РОЗССИЛКИ */

.mailing-input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  color: var(--color-white);
  background-color: transparent;
  border: var(--border-mailing-input);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border var(--animation);
}

.mailing-input:hover,
.mailing-input:focus {
  border: var(--border-clients-hover);
}

.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.universal-btn.signing {
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;
}

.mailing-icon {
  margin-left: 10px;
}

/* ФОРМА МОДАЛКИ */

.form-modal {
  margin: 40px;
}

.form-modal__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.form-modal__set {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-imput {
  width: 100%;
  padding: 14px 35px;
  border-radius: 4px;
  border: var(--border-form-input);
  outline: none;
  cursor: pointer;

  transition: border var(--animation);
}

.form-imput:hover,
.form-imput:focus {
  border: var(--border-clients-hover);
}

.form-label {
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--color-gray);

  display: flex;
  margin-bottom: 4px;
}

.imput-set {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-gray);

  transition: fill var(--animation);
}

.form-imput:hover ~ .form-icon,
.form-imput:focus ~ .form-icon {
  fill: var(--color-blue);
}

.form-comment {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: var(--border-form-input);
  resize: none;
  outline: none;

  transition: border var(--animation);
}

.form-comment:hover,
.form-comment:focus {
  border: var(--border-clients-hover);
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* ЧЕКБОКС */

.form-checkbox {
  display: flex;
  justify-content: center;
}

.checkbox-input {
  appearance: none;
  position: absolut;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 1px solid #212121;
  border-radius: 2px;
  transition: border var(--animation);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--color-blue);
  background-image: url(../images/icon-check.svg);
  border: none;

  transition: background-color var(--animation);
}

.checkbox-input:hover + .checkbox-icon,
.checkbox-input:focus + .checkbox-icon {
  border-color: var(--color-blue);
}

.checkbox-text {
  font-weight: 400;
  color: var(--color-gray);
}

.checkbox-text.conditions {
  text-decoration: underline;
  color: var(--color-blue);
}

.universal-btn.form {
  display: flex;
  margin: auto;
  padding: 10px 55px;
  margin-top: 30px;
}
